<template>
  <div id="app">
    <nav-index />
    <router-view/>
  </div>
</template>

<script>
import NavbarIndex from "@/components/NavbarIndex";
export default {
  name: "App",
  components: {
    "nav-index": NavbarIndex,
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
</style>
