<template>
  <div id="contact-index">
    <h1>Contact</h1>
    <div class="form-container">
      <form v-on:submit.prevent="onSave">
        <input type="text" placeholder="name" v-model.trim="userState.name" />
        {{ "name value :" + userState.name }} <br />
        <input
          type="text"
          placeholder="username"
          v-model.trim="userState.username"
        />
        {{ "username value : " + userState.username }}<br />
        <button type="submit">
          บันทึก
        </button>
      </form>
    </div>

    <table border="1px">
      <thead>
        <tr>
          <th>name</th>
          <th>username</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="items in userData" :key="items.id">
          <td>
            {{ items.name }}
          </td>
          <td>
            {{ items.username }}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div v-if="collapse === true" >
      <div v-for="items in userData" :key="items.id">
        <label>{{ items.username }}</label>
      </div>
    </div>
    <button @click="onShow">
      <label v-if="collapse === false">SHOW</label>
      <label v-else>HIDE</label>
    </button> -->
  </div>
</template>
<script>
import Vue from "vue";
import axios from "axios";
import VueAxios from "vue-axios";
Vue.use(VueAxios, axios);
export default {
  name: "contact-index",
  data() {
    return {
      collapse: false,
      userData: null,
      userState: {
        name: "",
        username: ""
      }
    };
  },
  mounted() {
    Vue.axios("https://jsonplaceholder.typicode.com/users").then((res, i) => {
      let dataArr = res.data;
      const pushArr = [];
      dataArr.forEach((r, i) => {
        pushArr.push({ id: i + 1, name: r.name, username: r.username });
      });
      this.userData = pushArr && pushArr;
    });
  },
  methods: {
    onShow() {
      this.collapse = !this.collapse;
    },
    onSave() {
      let newId =
        this.userData.length > 0
          ? this.userData[this.userData.length - 1].id
          : 0;
      let id = newId + 1;
      let newUserData = { ...this.userState, id };
      this.userData = [...this.userData, newUserData];
      Vue.axios.post("http://localhost:8082/api/test", this.userData)
        .then(res => {
          console.log(res.data);
        }).catch((err)=>{
          console.log(err.message)
        });
    }
  }
};
</script>

<style scoped></style>
