<template>
  <div id="main-index">
    
    {{ msg }}
    <div>
      <table border="1px">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in arr" :key="item.id" >
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import NavbarIndex from './NavbarIndex'
export default {
  name: "main-nav",
  components:{
    NavbarIndex
  },
  data() {
    return {
      msg: "Hi developer",
      arr: [
        {
          id: 1,
          name: "micky mouse"
        },
        {
          id: 2,
          name: "Tome"
        },
        {
          id: 3,
          name: "Jerry"
        }
      ]
    };
  }
};
</script>
<style scoped></style>
