<template>
  <div id="nav-bar">
    <nav>
      <div class="nav_logo">
        Logo
      </div>
      <div class="nav_item">
        <label class="nav_item_link" @click="reAbout" >about</label>
        <label class="nav_item_link" @click="reContact" >contact</label>
        <label class="nav_item_link" @click="reSign" >sign-in</label>
      </div>
    </nav>
  </div>
</template>
<script>
export default {
  name: "nav-index",
  data() {
    return {
      menuArr: [
        {
          id: 1,
          menuname: "about",
          isActive: true
        },
        {
          id: 2,
          menuname: "contact",
          isActive: true
        },
        {
          id: 3,
          menuname: "sign-in",
          isActive: true
        }
      ]
    };
  },
  methods: {
    reAbout() {
      this.$router.push("/about")
    },
    reContact() {
      this.$router.push("/contact")
    },
    reSign() {
      this.$router.push("/sign-in")
    }
  }
};
</script>
<style scoped>
nav {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #b03a2e;
  color: #ffffff;
  justify-content: space-between;
}
.nav_logo {
  font-size: 20px;
}
.nav_item_link {
  font-size: 18px;
  margin-right: 15px;
  cursor: pointer;
}
.nav_item_link:hover {
  text-decoration: underline;
}
</style>
